
body {
    background-color: rgb(255, 253, 253);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

#cabecalho{
    border: black 1px solid;
    border-radius: 10px;
    padding-left: 50px;
    margin-bottom: 30px;
    box-shadow: black 2px 2px 5px;
    background-color: brown;
    color: #fff;
}

#telejornal{
    width: 100%;
    margin-left: 20;
    margin-bottom: 10px;
}

#card{
    width: 100%;
    margin-left: 20;
    margin-bottom: 10px;
}

#navbar{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    width: 100%;
}

nav a{
    display: inline-block;
    text-decoration: unset;
    color: #fff;
    padding: 30px 50px 30px;
    border-color: 3px solid black;  
    background-color: brown;
    box-shadow: black 2px 2px 5px;
}

:target{
    display: block;
}


#Home{
    justify-content: space-between;
    text-align: justify;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Sobre{
    justify-content: space-between;
    text-align: justify;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Contato{
    justify-content: space-between;
    text-align: justify;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Saibamais{
    justify-content: space-between;
    text-align: justify;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h1{
    text-decoration-color: white;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #fff;
    padding: 30px 50px 30px;
    border-color: 3px solid black;  
    background-color: brown;
    box-shadow: black 2px 2px 5px;
}

.linkedin{
    width: 7%;
    margin-right: 10px;

}

.linke{
    color: blue;
    margin-bottom: 25px;
    font-size: 13px;
    text-decoration: unset;
}

p{
text-align: justify;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#pagina1{
    background: rgb(253, 253, 253);
    margin-left: 1%;
    margin-right: 1%;
    padding: 1%;
    margin-bottom: 10px;
    border: silver 1px solid;
}

#pagina2{
    background: rgb(240, 240, 240);
    margin-left: 1%;
    margin-right: 1%;
    padding: 1%;
    margin-bottom: 10px;
    border: silver 1px solid;
}

#pagina3{
    background: rgb(253, 253, 253);
    margin-left: 1%;
    margin-right: 1%;
    padding: 1%;
    margin-bottom: 10px;
    border: silver 1px solid;
    
}

#pagina4{
    background: rgb(240, 240, 240);
    margin-left: 1%;
    margin-right: 1%;
    padding: 1%;
    margin-bottom: 10px;
    border: silver 1px solid;

}

.refe{
    color: blue;
    margin-bottom: 50px;
    text-align: justify;
    font-size: 15px;
}

h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #fff;
    padding: 10px 20px 10px;
    border-color: 3px solid black;  
    background-color: black;
    box-shadow: black 2px 2px 5px;
}

form{
    font-size: 16px;
    background: silver;
    max-width: 600px;
    margin:0 auto;
    padding: 10px 10px 10px 10px;
}

input{
    padding: 10px;
    width: 470px;
}

textarea{
        padding: 10px;
        width: 470px;
        height: 150px;
}

h5{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#enviar{
    height: 40px;
    width: 150px;
    background: rgb(230, 230, 230);
    cursor: pointer;
    background: brown;
    color: #fff;   
}
